/* Offset the start of the body by the height of the navbar */
body {
  padding-top: 49px;
}

/* Give the heade a fixed width at the top */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .03);
}

/* Offset the sticky PR sidebar */
.discussion-sidebar {
  padding-top: 49px;
  margin-top: -49px;
}

/* Offset the sticky PR header */
.pr-toolbar.is-stuck {
  top: 49px!important;
}
